<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h1>Joseph Augustine</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Software Engineer
                <ul class="nav nav-pills pull-right small">
                    <li ui-sref-active="active"><a ui-sref="app.home">Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.experience">Experience</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.contact">Contact</a></li>
                </ul>
            </h3>
        </div>
    </div>
    <hr />
</div>
