<div class="col-md-12">
    <h3>Contact</h3>
    <p>
        I am able to negotiate different payment methods, whether hourly, project based, or per sale if it's for a product.
    </p>
    <div class="row">
        <div class="col-md-6">
            <form name="contact_form">
                <div class="row margin-top">
                    <div class="col-md-1">
                        From
                    </div>
                    <div class="col-md-11">
                        <input ng-model="email_from" name="email_from" class="form-control" type="email" required placeholder="What address would you like to be contacted at?">
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-1">
                        Name
                    </div>
                    <div class="col-md-11">
                        <input ng-model="email_name" name="email_name" class="form-control" type="text" required placeholder="What is your name?">
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-1">
                        Title
                    </div>
                    <div class="col-md-11">
                        <input ng-model="email_subject" name="email_subject" class="form-control" type="text" required placeholder="What is the subject of the email?">
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-1">
                        Body
                    </div>
                    <div class="col-md-11">
                        <textarea ng-model="email_body" name="email_body" class="form-control" rows="8" cols="40" required placeholder="What would you like to say?"></textarea>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-12">
                        <button ng-click="send_email()" ng-disabled="contact_form.$invalid" class="btn btn-success pull-right" type="button">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
