<div class="col-md-12">
    <p>
        I am a Software Engineer. I started out programming when I was 11, learning to program a turtle on the screen to move around and draw lines and learning HTML. My Dad then showed me a program called <a href="http://scratch.mit.edu">Scratch</a> where I learned the logic behind programming. I created a little chat client using Scratch and built a server in <a href="http://python.org">Python</a> with which the client could then connect. It included multiple chat rooms, user levels, and a swear filter (since the community was ages 8-16). During that time I had experimented with PHP and MySQL.
    </p>
    <p>
        I then continued on and attempted to build an MMO game. I have attempted to build this MMO multiple times and each time I have failed because I quickly realize what I had created wasn't scalable enough which forced me learn basic architecture.. over and over..
    </p>
    <p>
        I eventually got a job where I was a wearhouse worker for 4-5 months before I asked to be transferred to the IT department. I joined the IT department as an Intern, however I didn't end up needing any training and it was more for the experience and I became a full fledged Software Engineer 6 months later. 3 months later I was given the task to build a platform to outsource the authoring of educational materials. I built, maintained, and continued to develop this system for 7 months. I also trained and mentored a new team member for helping to develop the platform.
    </p>
    <p>
        The company then had some financial issues and half the IT department was laid off, including myself. The change brought about new opportunities to experience new cultures and expand my skillset.
    </p>
    <p>
        Outside of work I enjoy ballroom, hiking, Ultimate Frisbee, climbing, piano, Japanese, and of course what always goes along with Japanese.. anime.
    </p>
</div>
