<div class="col-md-12">
    <h3>Experience</h3>
    <p>
        While I only have a year and a half in professional experience, I have been a hobbyist programmer since I was 11 and became a professional when I was 18.
    </p>
    
    <p>
        Skills
        
        <ul>
            <li>
                Python
                <ul>
                    <li>
                        Django (<a href="https://github.com/Magnie/parallel">Parallel</a>)
                    </li>
                    <li>
                        BottlePy (<a href="https://github.com/Magnie/BottleBlog">BottleBlog</a>, also uses MongoDB)
                    </li>
                    <li>
                        Kivy (<a href="https://github.com/Magnie/simplydogfighting">Simply Dogfighting</a>)
                    </li>
                </ul>
            </li>
            <li>
                PHP
                <ul>
                    <li>
                        Phalcon
                    </li>
                    <li>
                        CodeIgniter (<a href="https://github.com/Magnie/SimpleForum">SimpleForum</a>)
                    </li>
                </ul>
            </li>
            <li>
                JavaScript
                <ul>
                    <li>
                        AngularJS v1 (<a href="https://github.com/Magnie/showcase">Showcase</a>)
                    </li>
                    <li>
                        jQuery
                    </li>
                </ul>
            </li>
        </ul>
    </p>
    
    <p>
        External Profiles
        <ul>
            <li>
                <a href="https://github.com/Magnie">GitHub</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/joetheaugustine">LinkedIn</a>
            </li>
        </ul>
    </p>
</div>
